@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --gray: #191A18;
    --green: #21EB00;
    --myFont: 'Roboto', sans-serif;
}

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    
    background-color: black;
    font-family: var(--myFont);
    color: white;
}

input, button {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;

    font-family: inherit;
    font-size: 100%;
}

main {
    font-size: 1.3rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    /* display: none; */
}

form h1 {
    color: var(--green);
}

form p {
    font-weight: 300;
    margin-bottom: -3px;
}

button {
    width: 290px;
    height: 50px;
    border-radius: 22px;

    background-color: var(--green);

    font-size: 1.1em;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

input.data {
    width: 290px;
    height: 50px;
    padding: 0 25px;
    border-radius: 22px;
    outline: none;
    
    background-color: var(--gray);
    
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    
    text-align: center;
}

input.data.error {
    border: 1px solid red;
}





/* TIMER STYLES */

#timer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
   
    margin-top: -10px;
    
    text-align: center;
    font-size: 1.8rem;
    color: var(--green);
    
    display: none;
}

#timer-wrapper button {
    width: 160px;
}

#timer-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}

#timer h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--gray);
}

#timer-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;

    text-align: center;
}

span {
    color: white;
    font-size: 8rem;
}

#timer-display p {
    margin-top: -5px;
}

#horas span {
    margin-left: -5px;
}

#segundos span {
    margin-left: -5px;
}
